
# graphql-fastapi-pr2/server/.gitignore

# ignore the virtualenv folder
.venv
venv

# ignore .env files
.env
.env.local
.env.development
.env.test
.env.production
.env.example
.env.example.local
.env.example.development
.env.example.test
.env.example.production

# ignore pycache folders
__pycache__
*.pyc
